<%- include('header') -%>

  <h1 class="text-center text-2xl mt-12">Hi <%= name %></h1>
  <form action="/logout?_method=DELETE" method="POST" class="mt-12">
    <button type="submit" class="mx-auto block bg-blue-500 w-48 self-end py-2 rounded-xl text-white hover:bg-blue-600 font-semibold">Log Out</button>
  </form>

<%- include('footer') -%>

